body{
	background-color:#e7ebf2;
	font-family:verdana;
}

a{
	font-size:11px;
	text-decoration:none;
	color:#3B5998;
}
.login{
	display:none;
}
.logout{
	display:none;
}
.box {
	background-color:#ffffff;
    border: 1px solid #c5cedf;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
}

.add_images.box{
	margin:0px; !important;
	background-color: #ddd;
}
button.admin.show{
	margin:20px;
}
.admin.box{
	display:none;
}
.images.box{
	display:none;
}
.folders_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.folders_list li, .images_list li{
	float:left;
	width: 177px;
	margin-left:10px;
}
.folders_list li>.thumb_holder, .images_list li>.thumb_holder {
    border: 1px solid #cccccc;
    background-color: white; 		
    padding: 5px;
    width: 167px;
    height: 110px;
    list-style-image: none;
    margin-bottom: 5px;
    float: left;
    overflow: hidden;
    display: inline;
}
.folders_list li a.thumb{
	display:block;
	background-color:grey;
	width: 167px;
    height: 111px;	
    overflow:hidden;
    clear:both;
}

li.image.item .remove{
	padding:0px;
	line-height:13px;
	height:15px;
	float:left;
	clear:both;
}
a.image_item{
	width: 167px;
    height: 111px;	
    overflow:hidden;
}
.image_item img{
	width: 167px;
    height: auto;	
}

.folder_header{
	padding:10px;
	background-color:#cccccc;
}
.edit.name{
	padding:0px;
	margin-top:5px;
	float:left;
	font-weight:bold;
	font-size:12px;
	color:#3B5998;
	
}
.edit.name input{
	width:500px !important;
	padding:20px;
}

.image.item .edit.name input{
	width:167px !important;
	padding:10px;
	padding-right:2px;
	padding-left:2px;
}

.placeholder_box {
    border: 1px solid orange;
}

#image_field {
    border: 1px dotted grey;
    background-color: #F4F4F4
}

/*----------------*/
/* Data container */
/*----------------*/
.folders_data, .images_data{
	display:none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
}