.box {
    border: 1px dotted grey;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
}
button.admin.show{
	margin:20px;
}
.admin.box{
	display:none;
}
.folders_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.folders_list li, .images_list li {
    /*border: 1px solid #ADD6A3;*/
    background-color: #F3F8F1;
    padding: 10px;
    width: 167px;
    height: 120px;
    list-style-image: none;
    margin: 5px;
    float: left;
    overflow: hidden;
    display: inline;
}
.folders_list li a.thumb{
	display:block;
	background-color:grey;
	width: 167px;
    height: 111px;	
    clear:both;
}
.folder_header{
	width:500px;
	padding:20px;
	background-color:blue;
}
.edit.name{
	padding:0px;
	margin-top:5px;
	float:left;
	font-size:12px;
	
}
.edit.name input{
	width:500px;
	padding:20px;
}
.placeholder_box {
    border: 1px solid orange;
}

#image_field {
    border: 1px dotted grey;
    background-color: #F4F4F4
}

.images_data{
	
	display:none;
}
.left {
    floaT: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
}